<launch>
    <arg name="dev" defualt="/dev/input/js0"/>
  <node pkg="ramsbot" type="mainProgram.py" name="Ramsbot_Main" output="screen" respawn="true"/>
  <node pkg="joy" type="joy_node" name="Ramsbot_joy_node" clear_params="true" output="screen" resparm="true">
    <param name="dev" value="$(arg dev)" />
    <param name="deadzone" value="0.12" />
  </node>
</launch>
